default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: sass_app_dev
test:
  <<: *default
  database: sass_app_test
production:
  <<: *default
  database: sass_app_production
  username: sass_app
  password: <%= ENV['GROCERY_DATABASE_PASSWORD'] %>
